.container{
    height: 100vh;
    margin:0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right,rgb(130, 130, 184),rgb(54, 54, 132));
}
.form-container{
    height: 60vh;
    width: 50vw;
    border: 2px solid white;
    background: transparent;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
   
}
.each-feild{
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}
.label-name{
    color: whitesmoke;
    font-size: 25px;
    font-weight: 300;
    padding-right: 10px;
    font-family:"Roboto";
}
.input-box{
    height: 35px;
    width: max-content;
    border: 2px solid white;
    background:white;
    color: black;
    font-size: 17px;
    border-radius: 10px;
    text-align: center;
}
.login-button{
    height: 35px;
    width: 120px;
    border-radius: 8px;
    color:whitesmoke;
    border: 2px solid white;
    background:transparent;
    margin-top: 10px;
    font-size: 22px;
    font-family: "Roboto";
    cursor: pointer;

}
.new-user-container{
display: flex;
flex-direction: row;
margin-top: 10px;    
}
.new-user-para{
    color: white;
    font-family: "Roboto";
    font-size: 20px;
}
.new-user-link{
    color: white;
    padding: 18px;
    font-size: 20px;
}
.login-image{
    height: 300px;
    width: 300px;
}